name: PIC UART Polling Firmware Build

on:
  push:         # run on every git push
    branches: [ "main" ]
  pull_request: # run when PR is opened
    branches: [ "main" ]
  workflow_dispatch:    # run manually with a button

jobs:
  build:
    name: Build PIC Firmware (XC8)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Install XC8 Compiler
        run: |
          wget https://ww1.microchip.com/downloads/aemDocuments/documents/DEV/ProductDocuments/SoftwareTools/xc8-v3.10-full-install-linux-x64-installer.run -O xc8.run
          chmod +x xc8.run
          sudo ./xc8.run --mode unattended --unattendedmodeui none --netservername none

      - name: Locate XC8 installation
        run: |
          sudo find /opt/microchip -maxdepth 5 -type f -name "xc8-cc" -print || true

      - name: Add XC8 to PATH
        run: echo "/opt/microchip/xc8/v3.10/bin" >> $GITHUB_PATH

      - name: Check XC8 tools
        run: |
          which xc8-cc || true
          which xc8-as || true
          xc8-cc --version || true

      - name: List available DFPs
        run: |
          ls /opt/microchip/xc8/v3.10 || true

      - name: Install PIC16 DFP Pack
        run: |
          mkdir -p $HOME/.mchp_packs
          cd $HOME/.mchp_packs
          wget https://packs.download.microchip.com/Microchip.PIC16Fxxx_DFP.1.2.33.atpack -O pack.atpack
          unzip -o pack.atpack -d PIC16Fxxx_DFP

      - name: Build Firmware
        run: |
         make clean FIXDEPS=echo MP_CC=xc8-cc DFP_DIR=$HOME/.mchp_packs/PIC16Fxxx_DFP MP_AS=pic-as
         make all   FIXDEPS=echo MP_CC=xc8-cc DFP_DIR=$HOME/.mchp_packs/PIC16Fxxx_DFP MP_AS=pic-as

      - name: List dist folder
        run: ls -R dist || true

      - name: Upload HEX Artifact
        uses: actions/upload-artifact@v4
        with:
          name: pic-uart-firmware
          path: dist/**/production/*.hex
